:host {
  display: block;
  box-sizing: border-box;

  .product {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0 0 0;
    width: 16.5rem;
    height: 26.3rem;
    position: relative;

    .amount {
      position: absolute;
      left: 0.5rem;
      top: 0.5rem;
      width: 1.8rem;
      height: 1.8rem;
      padding: 0.3rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      // TODO: angular material variable here
      background-color: #69f0ae;
      color: black;
    }

    .close-button {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }

    .drag-and-drop {
      position: absolute;
      top: -0.4rem;
      right: 52%;
      transform: rotate(90deg) translate(0, -50%);
      cursor: grabbing;
    }

    &-image {
      width: 11rem;
      height: 24rem;
      margin-bottom: 1rem;
      border-radius: 50%;
      position: relative;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 13rem;

      .upload-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0.5rem;
        right: 0.6rem;
        // TODO: angular material variable here
        background-color: #69f0ae;
        color: black;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        font-size: 18px;
        cursor: pointer;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;

      .title {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 18px;
      }

      .description {
        font-size: 11px;
      }

      .footer {
        margin-top: auto;
        font-size: 22px;
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;

        app-editable-input {
          display: block;
          width: 6rem;
        }
      }
    }
  }
}
