<mat-card class="product">
  <div class="drag-and-drop" *ngIf="!compareMode">
    <ng-content class="drag-and-drop" select="[dragAndDrop]"></ng-content>
  </div>

  <div class="product-image" [style.background-image]="'url(' + (product.image | sanitize) + ')'">
    <mat-icon class="upload-icon" *ngIf="!compareMode" (click)="uploadImage.emit(product)">upload</mat-icon>
  </div>

  <div
    class="product-content"
    *ngIf="!compareMode; else previewContent"
    [formGroup]="productFormGroup"
    autocomplete="off"
  >
    <div class="title">
      <app-editable-input
        [control]="$any(controls['name'])"
        (onFocusLost)="controls['name'].valid && onFocusLost({ name: controls['name'].value })"
      ></app-editable-input>
    </div>

    <div class="description">
      <app-editable-textarea
        [control]="$any(controls['description'])"
        (onFocusLost)="controls['description'].valid && onFocusLost({ description: controls['description'].value })"
      ></app-editable-textarea>
    </div>

    <div class="footer">
      <app-editable-input
        class="price"
        align="center"
        [control]="$any(controls['price'])"
        (onFocusLost)="controls['price'].valid && onFocusLost({ price: controls['price'].value })"
      ></app-editable-input>
      <span>$</span>
    </div>
  </div>

  <ng-template #previewContent>
    <div class="content--preview">
      <div class="content--preview_title">
        <span>{{ controls['name'].value }}</span>
      </div>

      <div class="content--preview_description">
        <span>{{ controls['description'].value }}</span>
      </div>

      <div class="content--preview_price">{{ controls['price'].value }}$</div>
    </div>
  </ng-template>

  <button
    class="add-button"
    *ngIf="amount === 0; else editAmount"
    (click)="add()"
    mat-button
    mat-raised-button
    color="accent"
  >
    Add
  </button>

  <ng-template #editAmount>
    <div class="edit-amount">
      <button class="minus" (click)="remove()" mat-button mat-raised-button color="warn">
        <mat-icon>remove</mat-icon>
      </button>
      <button class="plus" (click)="add()" mat-button mat-raised-button color="accent"><mat-icon>add</mat-icon></button>
    </div>
  </ng-template>

  <mat-icon class="close-button" *ngIf="!compareMode" color="warn" (click)="deleteProduct()">close</mat-icon>

  <div class="amount" *ngIf="amount > 0">{{ amount }}</div>
</mat-card>
