<mat-card class="product">
  <div class="drag-and-drop">
    <ng-content class="drag-and-drop" select="[dragAndDrop]"></ng-content>
  </div>

  <div class="product-image" [style.background-image]="'url(' + (product.image | sanitize) + ')'">
    <mat-icon class="upload-icon" (click)="uploadImage.emit(product)">upload</mat-icon>
  </div>

  <div class="product-content" [formGroup]="productFormGroup" autocomplete="off">
    <div class="title">
      <app-editable-input
        [control]="$any(controls['name'])"
        (onFocusLost)="controls['name'].valid && onFocusLost({ name: controls['name'].value })"
      ></app-editable-input>
    </div>

    <div class="description">
      <app-editable-textarea
        [control]="$any(controls['description'])"
        (onFocusLost)="controls['description'].valid && onFocusLost({ description: controls['description'].value })"
      ></app-editable-textarea>
    </div>

    <div class="footer">
      <app-editable-input
        class="price"
        align="center"
        [control]="$any(controls['price'])"
        (onFocusLost)="controls['price'].valid && onFocusLost({ price: controls['price'].value })"
      ></app-editable-input>
      <span>$</span>
    </div>
  </div>

  <mat-icon class="close-button" color="warn" (click)="deleteProduct()">close</mat-icon>
</mat-card>
