<mat-card class="payment-slot" [formGroup]="paymentSlotForm">
  <div class="payment-slot_controls">
    <mat-form-field class="payment-slot_controls_numberOfClasses">
      <mat-label> number Of Classes</mat-label>
      <mat-select [formControl]="controls.numberOfClasses">
        @for (option of numberOfClassesOptions; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="payment-slot_controls_price">
      <mat-label>price</mat-label>
      <mat-select [formControl]="controls.price">
        @for (option of priceOptions; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="pyment-slot_errors" [style.visibility]="paymentSlotForm.invalid ? 'visible' : 'hidden'"></div>
</mat-card>
