.payment-slot {


  
    &_controls{
      display: flex;
      flex-direction: column;
      mat-form-field{
        margin: 1rem 1rem 0rem 1rem;
    } 
     
    }
  
    &_errors {
      font-size: 1rem;
      min-height: 2rem;
    }
  }
  