<mat-form-field class="table-select_mat-form-field">
  <mat-label>{{ label }}</mat-label>
  <mat-select [panelClass]="'table_select_panel'" [formControl]="control" [compareWith]="compareWith" multiple>
    @for (table of tables; track table?.id) {
    <mat-option [value]="table" [disabled]="bookedTableIds.includes(table.id)">
      <div class="table-select-table-item-container">
        <span class="table-select-table-item-container_name"> {{ table.name }} </span>
        <span class="table-select-table-item-container_capacity"> {{ table.capacity }} persons </span>
      </div>
    </mat-option>
    }
  </mat-select>
</mat-form-field>
