@import "../../../../../styles/media-queries/media-queries.scss";

mat-accordion {
  justify-content: center;
  display: grid;
  grid-template-rows: 4rem 1fr;
  align-items: center;
  justify-items: center;

  mat-expansion-panel {
    width: 100%;

    .teacher-setting_title {
      &_avatar {
        margin-right: 0.5rem;
      }
    }
  }
}