mat-accordion{
  display: flex;
  max-width: 98% !important;
  flex-direction: column;
  align-items: center;

  mat-expansion-panel{
    width: 98%;

    .teacher-setting_title {
      &_avatar {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        margin-right: 0.5rem;
      }
    }

    app-teacher-settings{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
