<mat-accordion multi>
  <h1>Teachers</h1>

  @if(loading$ | async) {

  <p>Loading...</p>

  } @else if((teachers$ | async)?.length === 0) {

  <p>No teachers found.</p>
  } @else {

  <mat-expansion-panel *ngFor="let teacher of teachers$ | async; trackBy: trackByTeacherId"
    [expanded]="teacher.id === (selectedTeacherId$ | async)" (opened)="selectTeacher(teacher.id)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img [src]="teacher.imageUrl" alt="Teacher Image" />
        {{ teacher.displayName }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-teacher-settings [teacher]="teacher" (teacherUpdated)="updateTeacher($any($event))"></app-teacher-settings>
  </mat-expansion-panel>
  }
</mat-accordion>