.systembar-container {
  width: 4rem;
  height: 100%;
  box-sizing: border-box;
  padding: 0 0.1rem 2rem;
  background-color: #303030;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;

  app-avatar {
    cursor: pointer;
  }
}

.systembar-popup-container {
  position: relative;
  box-sizing: border-box;
  width: 23rem;
  height: 11.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  .language-select {
    width: 100%;
  }

  .logout-button {
    align-self: center;
  }
}
