<div class="systembar-container">
  @if(currentUser$ | async; as user) {
    <app-avatar
      [matMenuTriggerFor]="menu"
      [avatar]="( $any([(currentUser$) | async]) | convertUsersToAvatars)[0]"
  ></app-avatar>
  }
  <mat-menu #menu="matMenu">
    <div class="systembar-popup-container">
      <mat-form-field class="theme-select">
        <mat-label>Choose a theme</mat-label>
        <mat-select [value]="theme$ | async" (selectionChange)="changeTheme($event)">
          <!-- TODO: translations -->
          <mat-option value="{{ Theme.DARK_THEME }}">{{ "SYSTEMBAR.THEME.DARK" | translate}}</mat-option>
          <mat-option value="{{ Theme.LIGHT_THEME }}">{{ "SYSTEMBAR.THEME.LIGHT" | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="language-select" appearance="fill">
        <mat-label>{{ 'SYSTEMBAR.LANGUAGE' | translate }}</mat-label>
        <mat-select [value]="" (selectionChange)="changeLanguage($event.value)">
          <mat-option *ngFor="let language of translateService.getLangs()" [value]="language">
            {{
              language === 'en' ? ('COMMON.LANGUAGE.ENGLISH' | translate) : ('COMMON.LANGUAGE.UKRAINIAN' | translate)
            }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button class="logout-button" mat-button mat-raised-button color="accent" (click)="logout()">
        {{ 'SYSTEMBAR.LOGOUT' | translate }}
      </button>
    </div>
  </mat-menu>
</div>
