<div class="systembar-container">
  <app-avatar
    [matMenuTriggerFor]="menu"
    [avatarConfiguration]="(avatarBuilderService.createAvatarConfigurationFurCurrentUser$() | async)!"
  ></app-avatar>
  
  <mat-menu #menu="matMenu">
    <div class="systembar-popup-container">
      <mat-form-field class="theme-select">
        <mat-label>Choose a theme</mat-label>
        <mat-select (selectionChange)="setTheme($event)">
          <mat-option value="dark">Dark</mat-option>
          <mat-option value="light">Light</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="language-select" appearance="fill">
        <mat-label>{{ 'SYSTEMBAR.LANGUAGE' | translate }}</mat-label>
        <mat-select [formControl]="languageControl" (selectionChange)="changeLanguage($event.value)">
          <mat-option *ngFor="let language of translateService.getLangs()" [value]="language">
            {{
              language === 'en' ? ('COMMON.LANGUAGE.ENGLISH' | translate) : ('COMMON.LANGUAGE.UKRAINIAN' | translate)
            }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button class="logout-button" mat-button mat-raised-button color="accent" (click)="logout()">
        {{ 'SYSTEMBAR.LOGOUT' | translate }}
      </button>
    </div>
  </mat-menu>
</div>
