@import "../../../../../../../styles/media-queries/media-queries.scss";

.payment-slots_content {
  display: grid;
  grid-template-rows: 4rem 6rem auto;
}

.payment-slots_list {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(10rem, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  padding: 1rem app-payment-slot-card-readonly {
    cursor: pointer;
    display: block;
    width: 100%;
  }
}

.mainTextOnPaymentPage {
  display: grid;
  align-items: center;
  justify-content: center;

  span {
    font-family: 'Noto Sans Linear B', sans-serif;
    font-family: 'PT Serif', serif;
    font-size: 3.5rem;
  }
}

.payment-slots_content_add-button {
  margin-left: 1rem;
  margin-top: 1rem;
  color: white;
}