<mat-card class="time-slot--readonly" [class.booked]="!!timeSlot.attendeeId">
  <div class="lesson_type-and_teacher">
    <div class="lesson-type_attendee">
      <span class="lesson_type">{{ 'DASHBOARD.TIME_SLOT.TYPE' | translate }}</span>

      @if(userById$(timeSlot.attendeeId) | async; as user) {
      <app-avatar [avatarConfiguration]="([user] | convertUsersToAvatarConfigs)[0]"></app-avatar>
      }
    </div>
    <div class="teacherBlock">
        @for (teacherId of timeSlot.teachersIds; track teacherId) {
          <h3> {{ (teacherById$(teacherId) | async)!.displayName }}</h3>
        }
    </div>
  </div>
  <div class="lesson_time">
    <span class="start-time">
      <!-- Adding '' if start time is [2, 2] => 02:02 -->
      {{ ('0' + timeSlot.startTime[0]).slice(-2) }}:{{ ('0' + timeSlot.startTime[1]).slice(-2) }}</span
    >
    <span class="duration"> {{ timeSlot.duration }} {{ 'DASHBOARD.TIME_SLOT.MIN' | translate }} </span>
  </div>

  <div class="lesson_delete">
    <div class="delete_button-container">
      <button mat-mini-fab (click)="deleteTimeSlot(timeSlot.id)">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
