:host {
  position: relative;
  height: 100%;
  display: block;

  .dashboard-container {
    height: 100%;

    .sidenav {
      width: 25%;
      padding: 20px;

      ::ng-deep .mat-drawer-inner-container {
        display: flex;
        flex-direction: column;
      }

      .shops-list {
        margin: 30px 0;
        height: 100%;
        overflow-y: scroll;

        &-title {
          font-size: 17px;
          display: block;
          margin-bottom: 10px;
        }

        .shop-card {
          // TODO: use angular/material theming instead
          background-color: #303030;
          cursor: pointer;
        }

        .shop-card:not(:last-child) {
          margin-bottom: 10px;
        }
      }

      .logout-button {
        margin-top: auto;
      }
    }
  }
}
