<app-spinner *ngIf="(dashboardStore.loading$ | async) === true; else content"></app-spinner>

<ng-template #content>
  <mat-drawer-container class="dashboard-container">
    <mat-drawer class="sidenav" mode="side" opened>
      <button class="create-shop-button" mat-button mat-raised-button color="primary" (click)="openCreateBotDialog()">
        {{ 'COMMON.CREATE' | translate }}
      </button>

      <div class="shops-list">
        <span class="shops-list-title">{{ 'DASHBOARD.YOUR_SHOPS' | translate }}</span>

        <mat-card
          class="shop-card"
          *ngFor="let shop of dashboardStore.shops$ | async"
          [routerLink]="['../shop', shop.id]"
        >
          {{ shop.name }}
        </mat-card>
      </div>
    </mat-drawer>

    <mat-drawer-content>
      <div class="content">{{ 'DASHBOARD.ANALYTICS_FALLBACK' | translate }}</div>
    </mat-drawer-content>
  </mat-drawer-container>
</ng-template>
