.login-container {
  display: flex;
  justify-content: center;
  width: 55rem;
  height: 45rem;

  mat-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    mat-card-title,
    mat-card-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      min-width: 30rem;

      .login-form {
        margin-bottom: 30px;
        width: 30rem;

        .mat-mdc-form-field {
          width: 100%;
        }
      }

      .additional-sign-in-methods {
        font-size: 10px;
        align-self: flex-start;
      }
    }

    mat-card-title {
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .register-text {
        //TODO: use angular material fonts, or variables
        font-size: 10px;
        margin-top: 1rem;

        .register-link {
          cursor: pointer;
          //TODO: use angular material fonts, or variables
          color: black;
        }
      }
    }

    .button {
      display: flex;
      justify-content: flex-end;
    }
  }
}
