.editable-textarea {
  width: 100%;

  textarea {
    resize: none;
  }

  &:not(.mat-focused) {
    .mat-form-field-appearance-outline.mat-form-field-disabled,
    .mat-form-field-outline {
      opacity: 0;
    }
  }

  .mat-form-field-outline {
    color: white;
    transition: none;
  }

  .mat-form-field-infix {
    border-top: 0.2em solid rgba(0, 0, 0, 0);
    padding: 0.5em 0;
  }

  .mat-form-field-wrapper {
    padding: 0;
  }

  .mat-form-field-flex {
    padding: 0 0.5em;
  }

  .filter input {
    caret-color: white;
  }
}
