.time-slots {
  &_content {
    overflow-y: scroll;
    padding: 1.5rem;
    box-sizing: border-box !important;

    &_add-button {
      background-color: #181818;
      color: white;
    }
  }

  &-list {
    width: 95%;
    padding: 1%;
    box-sizing: border-box !important;
    width: 97%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    app-time-slot-card-readonly:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
