<app-day-select-list (daySelected)="daySelected($event)"></app-day-select-list>

<div class="time-slots-list">
  @if((loading$ | async) === true) {
  <app-spinner></app-spinner>
  } @else {

  <div class="time-slots_content">
    <button mat-mini-fab class="time-slots_content_add-button" (click)="openCreateTimeSlotDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  @for(timeSlot of timeSlots$ | async; track timeSlot.id) {
  <app-time-slot-card-readonly
    [timeSlot]="timeSlot"
    (slotDeleted)="deleteTimeSlot($event)"
  ></app-time-slot-card-readonly>
  }@empty {
  <h2>{{ 'DASHBOARD.TIME_SLOT_LIST.NO_SLOT' | translate }} </h2>
  }}
</div>
