.teacher-settings_form {
  width: 100%;
  display: flex;
  flex-direction: column;

  &_avatar {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
  }

  &_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &_phone, &_name {
      width: 49%;

      mat-form-field {
        width: 100%;
      }
    }
  }

  &_description {
    width: 100%;

    mat-form-field {
      width: 100%;
    }
  }
}

