<form [formGroup]="teacherSettingsForm" class="teacher-settings_form">
  <div class="teacher-settings_form_avatar">
    <app-upload-avatar
      [uploadAvatar]="$any(([teacher] | convertUsersToAvatars:{ size: avatarSize.xxl }:true)[0])"
      (onUploadNewImage)="updateTeacherWithNewImage($event)">
    </app-upload-avatar>
  </div>

  <div class="teacher-settings_form_info">
    <div class="teacher-settings_form_info_phone">
        <mat-form-field>
          <mat-label>Telephone</mat-label>
           <span matTextPrefix>+38 &nbsp;</span>
          <input type="tel" matInput placeholder="055-555-55-55" [formControl]="controls.number">
        </mat-form-field>
    </div>

    <div class="teacher-settings_form_info_name">
      <mat-form-field>
        <mat-label>Leave Name and Surname</mat-label>
        <input
          matInput
          [formControl]="controls.displayName"
          placeholder="Please specify your name and surname here">
      </mat-form-field>
    </div>
  </div>

  <div class="teacher-settings_form_description">
    <mat-form-field>
      <mat-label>Leave a description</mat-label>
      <textarea
        matInput
        placeholder="Please specify your description here"
        [formControl]="controls.description"
        class="teacher-settings_form_description_input"></textarea>
    </mat-form-field>
  </div>
</form>
