<div>
    <div>
      <p *ngIf="!isEditingDescription">Description: {{ description }}</p>
      <div *ngIf="isEditingDescription">
        <input matInput formControlName="description" placeholder="Edit description">
      </div>
      <button (click)="toggleEditDescription()" mat-icon-button color="warn">
        <mat-icon *ngIf="!isEditingDescription">create</mat-icon>
        <mat-icon *ngIf="isEditingDescription">close</mat-icon>
      </button>
    </div>
    <div>
      <p *ngIf="!isEditingNumber">Number: {{ number }}</p>
      <div *ngIf="isEditingNumber">
        <input matInput formControlName="number" placeholder="Edit number">
      </div>
      <button (click)="toggleEditNumber()" mat-icon-button color="warn">
        <mat-icon *ngIf="!isEditingNumber">create</mat-icon>
        <mat-icon *ngIf="isEditingNumber">close</mat-icon>
      </button>
    </div>
    <!-- <button *ngIf="isEditingDescription || isEditingNumber" (click)="saveDescription()" mat-icon-button color="primary">
      <mat-icon>save</mat-icon>
    </button> -->
  </div>
  