<div class="category-filter">
  <app-category-filter-name
    *ngFor="let category of categories"
    [name]="category.name"
    [id]="category.id"
    [autofocus]="category.id === TEMP_CATEGORY_ID"
    [selected]="selectedCategory?.id === category.id"
    (categorySelected)="selectCategory.emit($event)"
    (nameChanged)="categoryNameWasChanged($event)"
    (categoryDeleted)="deleteCategory.emit($event)"
  ></app-category-filter-name>

  <mat-icon (click)="createTempCategory.emit()">add</mat-icon>
</div>
