:host.mat-mdc-dialog-component-host {
  display: flex;
  flex-direction: column;
  width: 50vw;
  max-height: 80vh;


  @media (max-width: 1400px) {
    width: 80vw;
  }
}

@media (max-width: 850px) {
  app-time-slot-card{ max-width: 20rem;}
}

