<mat-form-field class="avatars-dropdown_container">
  <mat-label>{{ label }}</mat-label>
  <mat-select [formControl]="control" [compareWith]="compareWith">
    <mat-select-trigger>{{ control.value?.configuration!.username }}</mat-select-trigger>
    @for (avatar of avatars; track avatar.configuration.id) {
    <mat-option class="avatars-dropdown_option" [value]="avatar">
      <app-avatar [avatar]="avatar"></app-avatar>
      <span> {{ avatar.configuration!.username }} </span>
    </mat-option>
    }
  </mat-select>

  @if(control.invalid && control.hasError('required')) {
  <mat-error>You have to select a teacher</mat-error>
  }
</mat-form-field>
