:host.mat-mdc-dialog-component-host {
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-height: 80vh;
    background-color: #373737;
  
    @media (max-width: 768px) {
      width: 80vw;
    }
  }