<!-- <div class="day-select-list">
  <div class="days-batch_container" *ngFor="let batch of dayLabelBatches">
    <div class="day" *ngFor="let dayLabel of batch">{{ dayLabel.dayName }}</div>
  </div>

</div> -->
<div class="day-select-list">
<div class="days-batch_container" *ngFor="let batch of dayLabelBatches">
  <section  class="day" *ngFor="let dayLabel of batch">
    <h2 class="dayName">{{dayLabel.dayName.toLocaleUpperCase()}}</h2>
   <p class="dayNumber">{{ dayLabel.dayNumber }}</p> 
  </section> 

</div>
</div>
