:host {
  position: relative;
  height: 100%;
  display: block;

  .shop-container {
    height: 100%;

    .sidenav {
      width: 20%;
      padding: 20px;

      mat-card {
        // TODO: use angular/material theming instead
        background-color: #303030;
        height: 4rem;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 1rem;
        cursor: pointer;
      }
    }

    .content {
      padding: 1rem 2rem;

      .category-filter {
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0.5rem;

        app-category-filter-name:not(:last-child) {
          margin-right: 1rem;
        }

        mat-icon {
          // TODO: angular material variable here
          color: #69f0ae;
          cursor: pointer;
        }
      }

      .products-with-fallback {
        display: flex;
        justify-content: flex-start;

        .create-fallback {
          display: block;
          margin-right: 1rem;
          margin-top: 1rem;
          height: 100%;
        }

        .products {
          display: flex;
          flex-wrap: wrap;
          padding-bottom: 2rem;

          .product {
            margin-right: 2rem;
            margin-top: 2rem;
          }
        }

        .product:not(:last-child) {
          margin-right: 2rem;
        }
      }
    }
  }
  .product-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    width: 17rem;
    height: 28.3rem;
    margin-right: 1rem;
    margin-top: 1rem;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}
