<mat-drawer-container class="shop-container">
  <mat-drawer class="sidenav" mode="side" opened>
    <mat-card>Integration</mat-card>
  </mat-drawer>

  <mat-drawer-content class="content">
    <div class="category-filter">
      <app-category-filter-name
        *ngFor="let category of shopStore.categories$ | async"
        [name]="category.name"
        [id]="category.id"
        [autofocus]="category.id === TEMP_CATEGORY_ID"
        [selected]="(shopStore.selectedCategory$ | async)?.id === category.id"
        (click)="shopStore.categorySelected$(category)"
        (nameChanged)="categoryNameChanged($event)"
      ></app-category-filter-name>

      <mat-icon (click)="shopStore.createTempCategory$()">add</mat-icon>
    </div>

    <app-spinner *ngIf="shopStore.loading$ | async; else content"></app-spinner>

    <ng-template #content>
      <p *ngIf="(shopStore.categories$ | async)!.length === 0; else content">You don't have any categories!</p>

      <ng-template #content>
        <div class="products-with-fallback">
          <app-product-fallback
            class="create-fallback"
            (onCreateProduct)="shopStore.createProduct$($event)"
          ></app-product-fallback>

          <app-drag-and-drop-container
            [dataSource]="(shopStore.selectedCategory$ | async)!.products"
            [itemTemplateRef]="productTemplate"
            [placeholder]="productPlaceholder"
          >
            <ng-template #productTemplate let-item>
              <app-product
                [product]="item"
                (uploadImage)="shopStore.uploadImageForProduct$(item)"
                (update)="shopStore.updateProduct$($event)"
                (delete)="shopStore.deleteProduct$($event)"
              >
                <mat-icon dragAndDrop cdkDragHandle>drag_indicator</mat-icon>
              </app-product>
            </ng-template>

            <ng-template #productPlaceholder>
              <div placeholder class="product-placeholder"></div>
            </ng-template>
          </app-drag-and-drop-container>
        </div>
      </ng-template>
    </ng-template>
  </mat-drawer-content>
</mat-drawer-container>
