<mat-drawer-container class="shop-container">
  <mat-drawer class="sidenav" mode="side" opened>
    <mat-card>{{ 'SHOP.SIDEBAR.EDITING' | translate }}</mat-card>
  </mat-drawer>

  <mat-drawer-content class="content">
    <app-categories
      [categories]="(shopStore.categories$ | async)!"
      [selectedCategory]="(shopStore.selectedCategory$ | async)!"
      (selectCategory)="shopStore.categorySelected$($event)"
      (changeCategoryName)="shopStore.updateCategoryName$($event)"
      (createCategory)="shopStore.createCategory$($event)"
      (deleteCategory)="shopStore.deleteCategory$($event)"
      (createTempCategory)="shopStore.createTempCategory$()"
    ></app-categories>

    <app-spinner *ngIf="shopStore.loading$ | async; else content"></app-spinner>

    <ng-template #content>
      <p *ngIf="(shopStore.categories$ | async)!.length === 0; else content">
        {{ 'SHOP.NO_CATEGORIES_FALLBACK_TEXT' | translate }}
      </p>

      <ng-template #content>
        <app-products
          [products]="(shopStore.productsOfSelectedCategory$ | async)!"
          (uploadImageForProduct)="shopStore.uploadImageForProduct$($event)"
          (createProduct)="shopStore.createProduct$($event)"
          (updateProduct)="shopStore.updateProduct$($event)"
          (deleteProduct)="shopStore.deleteProduct$($event)"
        ></app-products>
      </ng-template>
    </ng-template>
  </mat-drawer-content>
</mat-drawer-container>
