.touche-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;

  &_image {
    width: 100%;
    height: 100%;
    display: inline-block;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    color: white;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    user-select: none;
    transition: transform 0.3s ease-out;
    box-sizing: border-box;

    &--none {
      padding: 0 0.3rem;
    }
  }

  &_placeholder {
    font-weight: 800;
    text-overflow: ellipsis;
    align-items: center;
    text-align: left;
    display: inline-block;
    white-space: nowrap;
    align-self: center;

    &--small {
      min-height: 2rem;
      line-height: 2rem;
    }

    &--medium {
      min-height: 3rem;
      line-height: 3rem;
    }

    &--large {
      min-height: 4rem;
      line-height: 4rem;
    }
  }

  &--size-20 {
    width: 2rem;
    height: 2rem;
    line-height: 3rem;
  }

  &--size-30 {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
  }

  &--size-40 {
    width: 4rem;
    height: 4rem;
    line-height: 3rem;
  }

  &--size-60 {
    width: 6rem;
    height: 6rem;
    line-height: 3rem;
  }

  &--size-80 {
    width: 8rem;
    height: 8rem;
    line-height: 3rem;
  }

  &--size-160 {
    width: 16rem;
    height: 16rem;
    line-height: 3rem;
  }
}
