<div class="touche-avatar touche-avatar--size-{{ avatar.configuration?.size ?? AVATAR_SIZE.m }}">
  @if(!! avatar?.configuration?.backgroundImageUrl) {
    <span class="touche-avatar_image touche-avatar_image"
      [style.background-image]="'url(' + avatar?.configuration?.backgroundImageUrl + ')'">
    </span>
  } @else {
    <span *ngIf=" avatar?.configuration?.placeholder"
      class="touche-avatar_placeholder touche-avatar_placeholder--{{ avatar.configuration?.size ?? AVATAR_SIZE.m | avatarSizeModifiers }}">
      {{  avatar?.configuration?.placeholder }}
    </span>
  }
</div>
