<mat-card class="time-slot" [formGroup]="timeSlotForm">
  <app-time-picker [formControl]="controls.startTime" [label]="'Start time'"></app-time-picker>

  <mat-form-field class="time-slot_duration">
    <mat-label>Duration</mat-label>
    <mat-select [formControl]="controls.duration">
      @for (option of durationOptions; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-card>

@if(timeSlotForm.invalid && timeSlotForm.hasError(errorsEnum.DURATION_IS_INVALID)) {
<mat-error class="time-slot_duration_error"> Slot will end in the next day </mat-error>
}
