<mat-card class="time-slot" [formGroup]="timeSlotForm">
  <div class="time-slot_controls">
    <app-time-picker
     class="time-picker"
      [formControl]="controls.startTime"
      [label]="'DASHBOARD.CREATE_TIME_SLOT.START_TIME' | translate"
    ></app-time-picker>

    <app-duration-select class="time-slot_controls_duration" [formControl]="controls.duration"></app-duration-select>

    <app-avatar-multiple-select-dropdown
    class="time-slot_controls_teachers"
      [avatarConfigurations]="teachers | convertUsersToAvatarConfigs"
      [label]="'DASHBOARD.CREATE_TIME_SLOT.TEACHER' | translate"
      [formControl]="controls.teachers"
    ></app-avatar-multiple-select-dropdown>
  </div>

  <div class="time-slot_errors" [style.visibility]="timeSlotForm.invalid ? 'visible' : 'hidden'">
    @if( timeSlotForm.hasError(errorsEnum.DURATION_IS_INVALID)) {
    <mat-error class="time-slot_error">
      {{ 'DASHBOARD.CREATE_TIME_SLOT.DURATION_LEAKS_TO_NEXT_DAY_ERROR' | translate }}
    </mat-error>
    }
  </div>
</mat-card>
