.time-slot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 2rem 0 2rem;

  &_controls {

    &_duration {

      margin-right: 1rem;
    }

    &_teachers {

      margin-right: 1rem;
    }
  }

  &_errors {
    font-size: 1rem;
    min-height: 2rem;
  }
}