.time-slot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 2rem 0 2rem;
  background-color: #181818;

  &_controls {
   
    // display: flex;
    // justify-content: flex-start;
    // flex-direction: row;
    // align-items: flex-end;
    // margin: 0 1rem 0 1rem;

    @media (max-width: 1350px) {
      flex-direction: column;
      align-items: self-start;
    }

    &_duration {
      width: 16rem;
      margin-right: 1rem;
    }

    .ngx-mat-timepicker__toggle {
      margin-bottom: 0;
    }
  }

  &_errors {
    font-size: 1rem;
    min-height: 2rem;
  }
}
