<mat-card class="time-slot" [formGroup]="timeSlotForm">
  <div class="time-slot_controls">

    <mat-form-field class="time-slot_controls_lessonName">
      <mat-label>{{ 'DASHBOARD.CREATE_TIME_SLOT.SLOT_NAME' | translate }}</mat-label>
      <input [formControl]="controls.lessonName" matInput placeholder="Slot name" value="Slot name">
    </mat-form-field>

    <mat-form-field class="time-slot_controls_peopleAmount">
      <mat-label>People Amount</mat-label>
      <input type="number" [formControl]="controls.peopleAmount" matInput placeholder="0" value="0">
    </mat-form-field>

    <div class="time-slot_controls_time">
      <app-time-picker class="time-picker" [formControl]="controls.startTime"
        [label]="'DASHBOARD.CREATE_TIME_SLOT.START_TIME' | translate">
      </app-time-picker>
    </div>

    <app-table-multiple-select-dropdown class="time-slot_controls_teachers"
      [tables]="tables"
      [label]="'Table'"
      [formControl]="controls.tables">
    </app-table-multiple-select-dropdown>
  </div>

  <div class="time-slot_errors" [style.visibility]="timeSlotForm.invalid ? 'visible' : 'hidden'">
    @if( timeSlotForm.hasError(errorsEnum.DURATION_IS_INVALID)) {
    <mat-error class="time-slot_error">
      {{ 'DASHBOARD.CREATE_TIME_SLOT.DURATION_LEAKS_TO_NEXT_DAY_ERROR' | translate }}
    </mat-error>
    }
  </div>
</mat-card>
