.time-slot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 2rem 0 2rem;

  &_controls {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    width: 100%;

    app-time-picker {
      width: 100%;
    }

    &_lessonName {
      margin-bottom: -3rem;
      width: 100%;
      height: 6.4rem;
    }

    &_peopleAmount {
      margin-top: 2rem;
    }

    &_time {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }

    &_teachers {
      width: 100%;
    }
  }

  &_errors {
    font-size: 1rem;
    min-height: 2rem;
  }
}

@media(max-width: 650px) {
  .time-slot {
    &_controls {
      display: flex !important;
      flex-direction: column !important;

      &_time{
        flex-wrap: wrap !important
      }
    }
  }
}
