<h2 mat-dialog-title>{{'DASHBOARD.PAYMENT_SLOT.EDIT_SLOT' | translate }}</h2>
<mat-dialog-content class="mat-typography">
  <app-payment-slot-card [formControl]="paymentSlotControl"></app-payment-slot-card>

  @if(paymentSlotControl.hasError(paymentSlotCardErrors.HAS_PAYMENT_TURNER_SYNDROME)) {
  <mat-error class="payment-slot_error">
    {{ 'DASHBOARD.CREATE_TIME_SLOT.TIME_SLOT_OVERLAPS_ERROR' | translate }}
    <!-- змінити -->
  </mat-error>
  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    [disabled]="paymentSlotControl.pristine || paymentSlotControl.invalid"
    (click)="savePaymentSlot($any(paymentSlotControl.value))"
  >
    {{ 'COMMON.SAVE' | translate }}
  </button>
</mat-dialog-actions>
