<div class="celum-avatar_visual-wrap">
  <span
    class="celum-avatar_image celum-avatar_image--none"
    *ngIf="avatarConfiguration.image"
    [style.lineHeight.rem]="avatarConfiguration.size"
    [style.font-size.rem]="avatarConfiguration.fontSize"
    [style.font-weight]="avatarConfiguration.fontSize < 10 ? 600 : 500"
    [style.background-color]="avatarConfiguration.backgroundColor"
    [style.width.rem]="avatarConfiguration.size"
    [style.height.rem]="avatarConfiguration.size"
    [style.min-width.rem]="avatarConfiguration.size"
  >
    <span>{{ avatarConfiguration.placeholder }}</span>
  </span>
  <span
    class="celum-avatar_image"
    *ngIf="avatarConfiguration.image"
    [style.backgroundImage]="'url(' + avatarConfiguration.image + ')'"
    [style.width.rem]="avatarConfiguration.size"
    [style.height.rem]="avatarConfiguration.size"
    [style.min-width.rem]="avatarConfiguration.size"
    [style.lineHeight.rem]="avatarConfiguration.size"
    data-private
  >
    &nbsp;
  </span>
</div>
<div
  *ngIf="avatarConfiguration.username"
  class="celum-avatar_name celum-avatar_name--{{ avatarConfiguration.size | avatarSizeModifiers }}"
  data-private
>
  {{ avatarConfiguration.username }}
</div>
