<div class="touche-avatar touche-avatar--size-{{ avatarConfiguration.size }}">
  @if(!!avatarConfiguration.backgroundImageUrl) {
    <span class="touche-avatar_image touche-avatar_image"
      [style.background-image]="'url(' + avatarConfiguration.backgroundImageUrl + ')'">
    </span>
  } @else {
    <span *ngIf="avatarConfiguration.placeholder"
      class="touche-avatar_placeholder touche-avatar_placeholder--{{ avatarConfiguration.size | avatarSizeModifiers }}">
      {{ avatarConfiguration.placeholder }}
    </span>
  }

  @if(avatarConfiguration.fileExtractorImplementation) {
    <mat-icon class="touche-avatar_upload-icon" (click)="uploadClicked()">upload_file</mat-icon>
  }
</div>
