@use '@angular/material' as mat;

@mixin color($color-config) {
  $background: mat.get-color-from-palette($color-config, background);

  app-root .content {
    background-color: mat.get-color-from-palette($background, app-bar);
  }
}
@mixin typography($typography-config) {}
@mixin density($density-scale) {}

@mixin theme($theme-config) {
  $color-config: mat.get-color-config($theme-config);
  $typography-config: mat.get-typography-config($theme-config);
  $density-config: mat.get-density-config($theme-config);

  @if $color-config != null {
    @include color($color-config);
  }
  @if $typography-config != null {
    @include typography($typography-config);
  }
  @if $density-config != null {
    @include density($density-config);
  }
}