<mat-card class="time-slot--readonly">
  <div class="lesson_type-and_teacher">
    <span class="lesson_type">Piano</span>
    <span class="teacher"> Maria Boyko </span>
  </div>
  <div class="lesson_time">
    <span class="start-time"> {{ timeSlot.startTime.join(':') }}</span>
    <span class="duration"> {{ timeSlot.duration }} min</span>
  </div>

  <div class="lesson_delete">
    <div class="delete_button-container">
      <button mat-mini-fab (click)="deleteTimeSlot(timeSlot.id)">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
