:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .create-bot-form-card {
    margin-top: 2rem;
    // TODO: use angular/material theming instead
    background-color: #303030;

    .form {
      display: flex;
      flex-direction: column;
      padding: 2rem 2rem 0rem 2rem;
    }

    .mat-form-field {
      width: 100%;
    }

    .mat-form-field:last-child {
      ::ng-deep .mat-form-field-wrapper {
        margin-bottom: -1.25em;
      }
    }
  }
}
