<div class="interective-avatars">
    <div class="avatars-list">
      <ng-container *ngFor="let config of avatarConfigurations.slice(0, 2)">
        <app-avatar [avatarConfiguration]="config"></app-avatar>
      </ng-container>
      <div *ngIf="avatarConfigurations.length > 2" class="more-avatars" (click)="toggleShowAll($event, true)">
        +{{ avatarConfigurations.length - 2 }}
      </div>
    </div>
    <div *ngIf="showAllTeachers" class="teacher-modal" (click)="$event.stopPropagation()">
      <div class="teacher-list">
        <ng-container *ngFor="let config of avatarConfigurations">
          <app-avatar [avatarConfiguration]="config"></app-avatar>
        </ng-container>
      </div>

    </div>
  </div>
  