app-filter-time-slot {
  position: absolute;
  left: 89%;
  top: 10rem;
  border: none !important;
}
.time-slots_content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100% important;
  flex: 1;

  .time-slots_header-actions {
    display: flex;
    align-items: center;
    margin: 1rem 1rem 1rem 4rem;
    margin-bottom: 1rem;
    margin-left: 4rem;

    .locations-dropdown {
      margin-left: 1rem;

      .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }
    }
  }

  .time-slots_list {
    display: flex;
    flex-direction: column;
    width: auto;

    app-time-slot-card-readonly {
      cursor: pointer;
      display: block;
      width: 100%;
    }

    app-time-slot-card-readonly:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &_add-button {
    color: white;
  }
}
@media (max-width: 1600px) {
  .time-slots_content {
    width: 89%;
  }
}
@media (max-width: 1570px) {
  .time-slots_content {
    width: 97%;
  }
}
@media (max-width: 1550px) {
  .time-slots_content {
    width: 95%;
  }
}
@media (max-width: 1350px) {
  .time-slots_content {
    width: 94%;
  }
}
@media (max-width: 1000px) {
  .time-slots_content {
    width: 92%;
  }
}
