<app-day-select-list
  [currentDateId]="$any(currentDateId$ | async)"
  (daySelected)="daySelected($event)">
</app-day-select-list>

<div class="time-slots_content">
  <div class="time-slots_header-actions">
    <button mat-mini-fab class="time-slots_content_add-button" (click)="openCreateTimeSlotDialog()">
      <mat-icon>add</mat-icon>
    </button>

    <mat-form-field class="locations-dropdown">
      <mat-label>{{ 'DASHBOARD.TIME_SLOT.LOCATION' | translate }}</mat-label>
      <mat-select
        [disabled]="true"
        (selectionChange)="locationSelected($event.value)"
        [value]="currentLocation$ | async"
        [compareWith]="compareLocations">
        @for (location of locations$ | async; track location.id) {
          <mat-option class="avatars-dropdown_option" [value]="location">
            <span> {{ location.displayNames.uk }} </span>
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <app-filter-time-slot
      [tables]="$any(tables$ | async)"
      (filterChange)="filterChange($event)"
      (resetFilter)="resetFilter()">
    </app-filter-time-slot>
  </div>

  @if((loading$ | async) === true) {
    <app-spinner></app-spinner>
  } @else {
    <div class="time-slots_list" *ngIf="timeSlots$ | async as timeSlots">
      @for(timeSlot of timeSlots; track timeSlot.id) {
      <app-time-slot-card-readonly
        [timeSlot]="timeSlot"
        [tables]="$any(tables$ | async)"
        (slotDeleted)="deleteTimeSlot($event)"
        (click)="openEditTimeSlotDialog(timeSlot)">
      </app-time-slot-card-readonly>
      }@empty {
        <h2>No slots for this day</h2>
      }
    </div>
  }
</div>
