.time-slots_content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100% important;
  flex: 1;

  .time-slots_header-actions {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 4rem 1fr 4rem;
    align-items: center;

    .locations-dropdown {
      margin-left: 1rem;

      .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }
    }
  }

  .time-slots_list {
    display: flex;
    flex-direction: column;
    width: auto;

    app-time-slot-card-readonly {
      cursor: pointer;
      display: block;
      width: 100%;
    }

    app-time-slot-card-readonly:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &_add-button {
    color: white;
  }
}