.time-slots_content {
  padding: 1%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  flex: 1;

  .time-slots_header-actions {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .locations-dropdown {
      margin-left: 1rem;

      .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }
    }
  }

  .time-slots_list {
    display: flex;
    flex-direction: column;
    width: auto;

    app-time-slot-card-readonly {
      display: block;
      width: 100%;
    }

    app-time-slot-card-readonly:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &_add-button {
    background-color: #181818;
    color: white;
  }
}
@media(max-width: 1600px){
  .time-slots_content  {
    width: 98%;
  }
}
@media(max-width: 1570px){
  .time-slots_content  {
    width: 97%;
  }
}
@media(max-width: 1550px){
  .time-slots_content  {
    width: 96%;
  }
}
@media(max-width: 1350px){
  .time-slots_content  {
    width: 94%;
  }
}
@media(max-width: 1000px){
  .time-slots_content  {
    width: 92%;
  }
}

