.day-select-list {
  background-color: #181818;
  scroll-snap-type: x mandatory;
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  width: 100%;
  padding: 1rem;
  height: 5rem;

  /* Hiding scrollbar for IE, Edge and Firefox */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */

  &::-webkit-scrollbar {
    display: none;
  }

  .days-batch_container {
    align-items: center;
    scroll-snap-align: start;
    justify-content: space-evenly;
    box-sizing: border-box;
    display: flex;
    scroll-snap-align: start;
    position: relative;
    min-width: 80vw;
    height: 100%;
    display: inline-flex;
  }

  .day {
    min-width: 9vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      .dayNumber:not(.dayNumber--active) {
        background-color: #c0c0c0 !important;
      }
    }

    .dayName {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      margin-bottom: 0vw;
      color: rgb(142, 142, 142);
      font-size: 0.8rem;
    }

    .dayNumber {
      cursor: pointer;
      width: 3rem;
      height: 3rem;
      color: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      &--active {
        background-color: orange;
      }
    }
  }
}
