<mat-drawer-container class="dashboard-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [(opened)]="opened">
    <div class="cards">
      <mat-card class="card">
        {{ 'DASHBOARD.SIDENAV.SLOTS' | translate }}
      </mat-card>
      <button class="close-button" mat-mini-fab (click)="opened = !opened" mat-mini-fab>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content class="mat-drawer-content">
    <div class="sidenav-content">
      <button mat-mini-fab (click)="opened = !opened" mat-mini-fab>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <router-outlet> </router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
