@if(isAuthenticated$ | async) {
  <app-systembar [drawer]="drawer" [theme]="theme$ | async" (themeChange)="changeTheme($event)"></app-systembar>
}
<mat-drawer-container class="dashboard-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <div class="cards">
      <mat-card (click)="drawer.toggle()" class="card mat1-card" [routerLink]="['time-slots']">
        {{ 'DASHBOARD.SIDENAV.SLOTS' | translate }}
      </mat-card>
      <mat-card (click)="drawer.toggle()" class="card" [routerLink]="['teachers-settings']">
        {{ 'DASHBOARD.SIDENAV.TEACHER-SETTINGS' | translate }}</mat-card>
    </div>
  </mat-drawer>

  <mat-drawer-content class="mat-drawer-content content">
    <router-outlet> </router-outlet>
  </mat-drawer-content>

</mat-drawer-container>
