@import '../../../../../styles.scss';
@import "../../../../../styles/media-queries/media-queries.scss";

:host {
  position: relative;
  height: 100%;
  display: block;
  box-sizing: border-box;
  width: 100%;

  .mat-drawer-container {
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
    position: relative;

    .mat-drawer {
      display: flex;
      width: 20%;
      padding: 20px;
      max-width: 40%;
      min-width: 20%;

      .cards {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        &-title {
          font-size: 17px;
          display: block;
          margin-bottom: 10px;
        }

        .card {
          // TODO: use angular/material theming instead
          border: 1px solid #0000002b;
          width: 96% !important;
          margin: 0.5rem;
          height: 4rem;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          padding: 1rem;
          cursor: pointer;
        }

        .card:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }

    .content {
      padding: 1rem;

      button {
        width: 36px;
        height: 36px;
        position: fixed;
        top: 20px;
        left: 0.45rem;
        z-index: 1000;
        border-radius: 50%;
      }
    }
  }
}
