:host {
  position: relative;
  height: 100%;
  display: block;
  box-sizing: border-box;
  width: 100%;

  .dashboard-container {
    height: 100%;
    width: 100%;

    .mat-drawer-content {
      width: auto;
      min-width: 80%;
      max-width: 100%;

      .sidenav-content {
        background-color: #303030;
        position: absolute;
        margin-top: 9.2rem;
        margin-left: 1.5rem;
      }
    }

    .sidenav {
      width: 20%;
      padding: 20px;
      max-width: 40%;
      min-width: 20%;

      ::ng-deep .mat-drawer-inner-container {
        display: flex;
        flex-direction: column;
      }

      .cards {
        margin: 0 0 20px 0;
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;

        .close-button {
          background-color: #ff0000;

          margin: 1rem;
        }

        &-title {
          font-size: 17px;
          display: block;
          margin-bottom: 10px;
        }

        .card {
          // TODO: use angular/material theming instead
          background-color: #303030;
          width: 90%;
          height: 4rem;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          padding: 1rem;
          cursor: pointer;
        }

        .card:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }

    .content {
      padding: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .cards {
    width: 92vw !important;
  }
  .sidenav {
    background-color: rgb(31 50 0 / 93%);
    position: absolute;
    min-width: 100% !important;
    width: 100% !important;
    padding: 0 !important;
    box-sizing: border-box;
  }
  .mat-drawer-content {
    margin-left: 0 !important;
  }
}

@media (min-width: 769px) {
  .close-button {
    display: none;
  }
  .sidenav {
    padding: 20px;
    max-width: 40%;
    min-width: 20%;
    box-sizing: border-box;
  }
}
@media (min-width: 1600px) {
  .time-slots_content {
    width: 45%;
  }
}

@media (max-width: 430px) {
  .cards {
    width: 90vw !important;
  }
}

@media (min-width: 768px) {
  .close-button {
    display: none;
  }
}

app-sidenav {
  display: flex;
}
mat-drawer-container {
  flex: 1 1 auto;
}
