.time-slot {
  padding: 2rem;
  background-color: #181818;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-end;

  &_duration {
    width: 16rem;
    margin-right: 1rem;

    &_error {
      font-size: 1rem;
    }
  }

  .ngx-mat-timepicker__toggle {
    margin-bottom: 0;
  }
}
