<mat-card class="time-slot" [formGroup]="timeSlotForm">
  <app-time-picker
    [formControl]="controls.startTime"
    [label]="'DASHBOARD.CREATE_TIME_SLOT.START_TIME' | translate"
  ></app-time-picker>

  <mat-form-field class="time-slot_duration">
    <mat-label>{{ 'DASHBOARD.CREATE_TIME_SLOT.DURATION' | translate }}</mat-label>
    <mat-select [formControl]="controls.duration">
      @for (option of durationOptions; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <app-avatars-dropdown
    [avatarConfigurations]="teachers | convertUsersToAvatarConfigs"
    [label]="'DASHBOARD.CREATE_TIME_SLOT.TEACHER' | translate"
    [formControl]="controls.teacher"
  ></app-avatars-dropdown>
</mat-card>

@if(timeSlotForm.invalid && timeSlotForm.hasError(errorsEnum.DURATION_IS_INVALID)) {
<mat-error class="time-slot_duration_error"> {{ 'DASHBOARD.CREATE_TIME_SLOT.ERROR' | translate }} </mat-error>
}
