.fallback-inner-container {
  display: block;
  width: 13rem;
  height: 26.3rem;
  padding: 2rem 0 0 0;
  border-radius: 4px;
  position: relative;

  .add {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 40px;
    height: 4rem;
    width: 4rem;
    text-align: center;
    cursor: pointer;
  }

  .product-image {
    width: 11rem;
    height: 11rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 13rem;

    .upload-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0.5rem;
      right: 0.6rem;
      // TODO: angular material variable here
      background-color: #69f0ae;
      color: black;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      font-size: 18px;
      cursor: pointer;
    }
  }

  .create-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    &-image {
      width: 11rem;
      margin-bottom: 1rem;
    }

    .title {
      font-size: 18px;
    }

    .description {
      font-size: 11px;
      height: 4rem;
    }

    .footer {
      font-size: 22px;
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;

      app-editable-input {
        display: block;
        width: 6rem;
      }
    }
  }

  .add-button-container {
    width: 100%;
    margin-top: auto;
  }
  .add-button {
    width: 100%;
  }

  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
}
