<mat-card
  class="fallback-inner-container"
  [@collapseExpand]="collapsed ? 'collapsed' : 'expanded'"
  (@collapseExpand.start)="animationStarted($event)"
  (@collapseExpand.done)="animationEnded($event)"
>
  <mat-icon class="add" *ngIf="showPlusButton" (click)="open($event)">add</mat-icon>

  <div class="create-part" *ngIf="showContent">
    <div
      class="product-image"
      [style.background-image]="
        image ? 'url(' + (image | convertImageToUrl | sanitize) + ')' : 'url(' + defaultImagePath + ')'
      "
    >
      <mat-icon class="upload-icon" (click)="uploadImage()">upload</mat-icon>
    </div>

    <div class="title">
      <app-editable-input
        [control]="$any(createProductForm.controls['name'])"
        [placeholder]="'SHOP.PRODUCT.CREATE_FALLBACK.NAME' | translate"
      ></app-editable-input>
    </div>
    <div class="description">
      <app-editable-textarea
        [control]="$any(createProductForm.controls['description'])"
        [placeholder]="'SHOP.PRODUCT.CREATE_FALLBACK.DESCRIPTION' | translate"
      ></app-editable-textarea>
    </div>
    <div class="footer">
      <app-editable-input
        class="price"
        [control]="$any(createProductForm.controls['price'])"
        [placeholder]="'200'"
        align="center"
      ></app-editable-input>
      <span>$</span>
    </div>

    <div
      class="add-button-container"
      [matTooltipDisabled]="!!image"
      [matTooltip]="'SHOP.PRODUCT.CREATE_FALLBACK.DISABLED_BUTTON_TOOLTIP' | translate"
    >
      <button
        class="add-button"
        mat-button
        mat-raised-button
        color="accent"
        *ngIf="!collapsed"
        [disabled]="createProductForm.invalid || !image"
        (click)="createProduct()"
      >
        {{ 'COMMON.CREATE' | translate }}
      </button>
    </div>

    <mat-icon class="close-button" color="warn" (click)="discardChanges()">close</mat-icon>
  </div>
</mat-card>
