@import "variables";

@media(max-width: $breakpoint_sm) {
    .title {
        font-size: 2rem !important;
    }

    .teacher-settings_form {
        grid-template-rows: 17rem 14rem 6rem !important;

        .teacher-settings_form_info {
            display: grid;
            grid-auto-flow: row;
            grid-row-gap: 0.4rem;
            height: 13rem;
        }

        &_description {
            width: 100%;
        }
    }
}

@media (max-width: $breakpoint_md) {
    .cards {
        width: 97% !important;
    }

    .sidenav {
        position: absolute;
        min-width: 100% !important;
        width: 100% !important;
        padding: 0 !important;
        box-sizing: border-box;
    }

    .mat-drawer-content {
        margin-left: 0 !important;
    }
}

@media (min-width: $breakpoint_md) {

    .sidenav {
        padding: 20px;
        max-width: 40%;
        min-width: 20%;
        box-sizing: border-box;
    }
}

@media (max-width: $breakpoint_lg) {}

@media (max-width: $breakpoint_xl) {}

@media (max-width: $breakpoint_xxl) {}