@use '@angular/material' as material;
@use 'sass:map';

$workshop-typography: material.m2-define-typography-config(
  $font-family: "'Open Sans', sans-serif",
  $headline-1: material.m2-define-typography-level(95px, 95px, 300, $letter-spacing: -0.05em)
);

@function apply-extra-colors($theme, $extra-color-scheme) {
  @return map.deep-merge(
    $theme,
    (
      color: $extra-color-scheme
    )
  );
}

@mixin button-no-animations {
  .mat-button,
  .mat-icon-button,
  .mat-raised-button,
  .mat-stroked-button,
  .mat-flat-button,
  .mat-fab,
  .mat-mini-fab {
    transition: none !important;
    animation: none !important;
    &:hover,
    &:focus,
    &:active {
      background-color: inherit !important;
      box-shadow: none !important;
    }
  }
}

@mixin create-theme($workshop-theme) {
  body,
  mat-drawer-container {
    @include material.all-component-themes($workshop-theme);
  }
  body {
    @include material.strong-focus-indicators-theme($workshop-theme);
  }
  .mat-toolbar.mat-primary {
    @include material.strong-focus-indicators-theme(white);
  }
}
