@use '@angular/material' as material;
@use './common.scss';
@use 'sass:map';


$workshop-primary: material.define-palette(material.$red-palette, 400, 400, 900);
// !!!! change border-color in all components
$workshop-accent: material.define-palette(material.$green-palette, A400, A200);

// Extra colors
$workshop-success-for-dark: material.define-palette(material.$green-palette, 700, 500, 900);
$workshop-info-for-dark: material.define-palette(material.$blue-palette, A400, A200, A700);

$workshop-extra-color-scheme: (
  success: $workshop-success-for-dark,
  info: $workshop-info-for-dark,
  background: (
    background: map.get(material.$blue-gray-palette, 900)
  )
);

.mat-drawer-container {
  div.lesson_time {
    .start-time {
      transform: scale(1.1);
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      color: map.get(material.$grey-palette, 400);
      font-weight: bold;
    }
    .duration {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      color: map.get(material.$grey-palette, 500);
      font-weight: bold;
      transform: scale(1.1);
    }
  }
}

$workshop-theme: material.define-dark-theme(
  (
    color: (
      primary: $workshop-primary,
      accent: $workshop-accent
    ),
    typography: common.$workshop-typography,
    density: 0
  )
);

$workshop-theme: common.apply-extra-colors($workshop-theme, $workshop-extra-color-scheme);
// @debug $workshop-theme;
// Generate theme
@include common.create-theme($workshop-theme);

