@use '@angular/material' as material;
@use './common.scss';
@use 'sass:map';




$workshop-primary: material.define-palette(material.$cyan-palette, 500, 200, 700);
$workshop-accent: material.define-palette(material.$pink-palette, A200, A100);

// Extra colors
$workshop-success-for-light: material.define-palette(material.$green-palette);
$workshop-info-for-light: material.define-palette(material.$blue-palette);

$workshop-extra-color-scheme: (
  success: $workshop-success-for-light,
  info: $workshop-info-for-light,
  background: (
    background: map.get(material.$blue-gray-palette, 100)
  )
);

$workshop-theme: material.define-light-theme(
  (
    color: (
      primary: $workshop-primary,
      accent: $workshop-accent
    ),
    typography: common.$workshop-typography,
    density: 0
  )
);

$workshop-theme: common.apply-extra-colors($workshop-theme, $workshop-extra-color-scheme);

// Generate theme
@include common.create-theme($workshop-theme);

