.compare-button {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.compare--active {
    background-color: #fff;

    mat-icon {
      color: black;
    }
  }

  mat-icon {
    color: white;
  }
}
