@import "../../../../../../../styles/media-queries/media-queries.scss";

.payment-slot-card-readonly {
  width: 95%;
  .number_lesson-and_price {
    display: grid;
    grid-template-rows: 5rem 5rem;

    .lesson-type_attendee {
      display: grid;
      align-content: space-around;
      justify-items: center;

      .lesson_type {
        font-size: 2.2rem;
        font-family: 'Noto Sans Linear B', sans-serif;
        font-family: 'PT Serif', serif;
      }
    }

    .lesson_price {
      display: grid;
      align-content: space-around;
      justify-items: center;

      .price {
        font-size: 2rem;
        color: rgb(249, 145, 0);
      }
    }
  }

  .payment-card_delete {
    border-bottom: 1rem;
    position: absolute;
    right: -0.5rem;
    top: -0.5rem;

    .delete_button-container button {
      width: 2rem;
      height: 2rem;
      box-shadow: none;
    }
  }
}