.payment-slot-card-readonly {
  height: 10rem;
  margin: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  .number_lesson-and_price {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    .lesson-type_attendee .lesson_type {
      font-size: 2rem;
      font-family: 'Noto Sans Linear B', sans-serif;
      font-family: 'PT Serif', serif;
    }
    .lesson_price .price {
      font-size: 2rem;
      color: rgb(249, 145, 0);
    }
  }
  .lesson-type_attendee {
    display: flex;
    align-items: center;

    .lesson_type {
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
      margin-right: 1rem;
    }
  }

  .payment-card_delete {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1rem;
    position: absolute;
    right: -0.5rem;
    top: -0.5rem;
    .delete_button-container button {
      width: 2rem;
      height: 2rem;
    
      // background-color: #181818;
      box-shadow: none;
    }
    .number-lesson {
      display: flex;
      align-items: center;
      .classes {
        font-size: 1.5rem;
     
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 1rem;
      }
    }
  }
}
